@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #196d6f;
  --color-brand-light: #238f91;
  --color-bg-darkest: #0c1014;
  --color-bg-dark: #1a1d22;
  --color-text-muted-dark: #9ca3af;
}

html {
  scroll-behavior: smooth;
}
