@import "tailwindcss";

@theme {
  --color-brand: #59baa9;
  --color-brand-dark: #40122c;
  --color-accent: #d8f171;
  --color-muted: #656273;
  --color-cream: #fcffd9;
}

html {
  scroll-behavior: smooth;
}
