---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-white dark:bg-bg-darkest text-gray-900 dark:text-white antialiased font-sans transition-colors">
    <slot />

    <script>
      const theme = () => document.documentElement.classList.toggle("dark");
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("theme-toggle")?.addEventListener("click", theme);
      });
    </script>
  </body>
</html>
